/************************* TYPES *************************/
.type-btn {
    border-radius: 5px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: 10px;
    padding: 10px 10px;
    text-transform: uppercase;
}

.type-name {
    width: 100%;
    text-align: center;
}

.normal {
    background: #a8a77a;
}

.fire {
    background: #ee8130;
}

.water {
    background: #6390f0;
}

.electric {
    background: #f7d02c;
}

.grass {
    background: #7ac74c;
}

.ice {
    background: #96d9d6;
}

.fighting {
    background: #c22e28;
}

.poison {
    background: #a33ea1;
}

.ground {
    background: #e2bf65;
}

.psychic {
    background: #f95587;
}

.bug {
    background: #a6b91a;
}

.rock {
    background: #b6a136;
}

.ghost {
    background: #735797;
}

.dragon {
    background: #6f35fc;
}

.dark {
    background: #705746;
}

.steel {
    background: #b7b7ce;
}

.fairy {
    background: #d685ad;
}

.flying {
    background: #a98ff3;
}

/************************* TAGS *************************/
body {
    height: 100vh;
    font-family: "Press Start 2P", cursive;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

/************************* GENERAL *************************/
.nav-btn {
    background: #a9a9a9;
    color: #fff;
}

.body-link {
    color: #cc0000;
}

.body-link:hover {
    color: #ff0000;
}

.dot-divider {
    margin: 0 15px;
}

.fa {
    font-size: 1.3rem;
}

.container-fluid {
    padding: 0 0 30px 0;
}

.title-underline {
    margin: 5px 0 15px;
}

/************************* BOOTSTRAP *************************/
.container {
    /* background: #fafafa; */
    height: fit-content;
    padding: 50px;
}

/************************* NAV.BLADE.PHP *************************/
.navbar {
    background: #3b4cca;
    padding: 20px;
}

.navbar a {
    color: #fafafa;
    font-size: 0.8rem;
    transition: ease-in-out all 0.1s;
}

.navbar a:hover {
    color: #9da6e5;
}

.nav-item {
    padding-right: 15px;
}

.navbar-toggler {
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/************************* HOME.BLADE.PHP *************************/
.main-logo {
    height: 200px;
    margin-bottom: 15px;
}

.home-msg {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.team-container {
    width: 100%;
    margin-bottom: 0px;
}

.team-container a {
    margin: -35px 0 10px;
}

.pokemon-icon {
    height: 80px;
}

.pokemon-name {
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
    font-size: 0.6rem;
}

.remove-pokemon-btn {
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px 7px;
    font-size: 0.8rem;
}

.gen-list-container {
    padding: 30px 0;
}

.pokemon-select {
    font-size: 0.9rem;
}

/************************* POKEMON.BLADE.PHP *************************/
.pokemon-info-container {
    position: relative;
    height: fit-content;
    padding-bottom: 70px;
}

.poke-img {
    width: 100%;
}

.poke-name-container {
}

.add-poke-form {
    margin: 0;
}

.add-poke-btn {
    font-size: 1.5rem;
    padding: 0 10px;
    border-radius: 5px;
}

.poke-name {
    font-size: 1.5rem;
}

.type-container {
    height: fit-content;
    margin-bottom: 10px;
    padding: 10px 0;
}

.poke-desc {
    font-size: 0.8rem;
    margin-bottom: 30px;
}

.accordion {
    width: 100%;
}

.card {
    border: none;
}

.card-header {
    background: none;
    text-align: center;
    border: none;
}

.evo-line-container {
    width: 100%;
}

.evo-line-row {
    width: 100%;
    margin: -40px 0 30px 0;
}

.evo-line-col {
    height: 100%;
}

.stage-container {
    position: relative;
}

.evo-line-stage {
    font-size: 0.7rem;
}

.evo-chain-icon {
    height: 60px;
}

.next-evo-arrow-right {
    font-size: 2rem;
    position: absolute;
    left: -35%;
    top: 50%;
}

.options-container {
    position: absolute;
    bottom: 0;
    padding: 25px 0;
    width: 100%;
    margin-left: 0.5px;
}

.option-col {
    padding: 15px 20px 5px 20px;
}

.options-text-col {
    border-top: 10px solid #3b4cca;
    border-left: 15px solid #3b4cca;
    border-bottom: 10px solid #3b4cca;
    color: #313131;
    line-height: 2rem;
}

.options-col {
    border: 10px solid #313131;
    border-radius: 0px 5px 5px 0px;
}

.option-btn {
    background: none;
    margin: 0;
    border: 0;
    padding: 0;
    outline: none;
    margin-bottom: 15px;
    color: #313131;
}

.option-btn:hover:before {
    content: ">";
    color: #a9a9a9;
}

.option-btn:hover {
    color: #a9a9a9;
}

.back-btn {
}

/************************* TEAMS.BLADE.PHP *************************/
.teams-container {
    background: #c4c9ef;
    padding: 50px;
    width: 80%;
}

.trainer-name {
    font-size: 0.9rem;
}

.team-info {
    padding: 15px 20px;
}

.team-pokemon-link {
    color: #fff;
}

.team-pokemon-link:hover {
    color: #6270d5;
}

.teams-stats-container {
    margin-top: 10px;
    font-size: 0.7rem;
}

/************************* FOOTER.BLADE.PHP *************************/
.footer {
    background: #ffde00;
    color: #191600;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: fixed;
    font-size: 0.6rem;
}

footer p {
    margin: 0;
}

.footer a {
    color: #806f00;
    transition: ease-in-out all 0.1s;
}

.footer a:hover {
    color: #ccb200;
}

/************************* MEDIA QUERIES *************************/
@media (max-width: 768px) {
    .options-container {
        position: initial;
    }

    /************************* HOME.BLADE.PHP *************************/
    .home-container {
        padding: 25px;
    }

    .main-logo {
        width: 110%;
        margin-bottom: 15px;
        height: auto;
    }

    .team-container {
        width: 100%;
        margin-bottom: -30px;
    }

    .pokemon-icon-container {
        padding: 0;
        margin-bottom: 30px;
        width: auto;
    }

    .pokemon-select {
        font-size: 0.8rem;
    }

    /************************* POKEMON.BLADE.PHP *************************/
    .pokemon-info-container {
        padding: 0 30px;
        margin-bottom: 30px;
    }

    .pokemon-name-container {
        justify-content: center;
    }

    .poke-name {
        font-size: 1.2rem;
    }

    .poke-desc {
        font-size: 0.8rem;
        margin-bottom: 0;
    }

    .options-text-col {
        border-top: 10px solid #3b4cca;
        border-left: 10px solid #3b4cca;
        border-right: 10px solid #3b4cca;
        border-radius: 5px 5px 0 0;
    }

    .options-col {
        border-bottom: 10px solid #313131;
        border-left: 10px solid #313131;
        border-right: 10px solid #313131;
        border-radius: 0px 0px 5px 5px;
    }

    /************************* TEAMS.BLADE.PHP *************************/
    .teams-container {
        background: #c4c9ef;
        padding: 25px;
        width: 100%;
    }
}
