/************************* TYPES *************************/
.type-btn {
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    margin-right: 10px;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
}

.normal {
    background: #a8a77a;
}

.fire {
    background: #ee8130;
}

.water {
    background: #6390f0;
}

.electric {
    background: #f7d02c;
}

.grass {
    background: #7ac74c;
}

.ice {
    background: #96d9d6;
}

.fighting {
    background: #c22e28;
}

.poison {
    background: #a33ea1;
}

.ground {
    background: #e2bf65;
}

.psychic {
    background: #f95587;
}

.bug {
    background: #a6b91a;
}

.rock {
    background: #b6a136;
}

.ghost {
    background: #735797;
}

.dragon {
    background: #6f35fc;
}

.dark {
    background: #705746;
}

.steel {
    background: #b7b7ce;
}

.fairy {
    background: #d685ad;
}

.flying {
    background: #a98ff3;
}

/************************* TAGS *************************/
body {
    height: 100vh;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

/************************* GENERAL *************************/
.nav-btn {
    background: #a9a9a9;
    color: #fff;
}

.fa {
    font-size: 1.3rem;
}

.container-fluid {
    padding: 0 0 30px 0;
}

/************************* BOOTSTRAP *************************/
.container {
    /* background: #f3f3f3; */
    height: fit-content;
    padding: 50px;
}

/************************* NAV.BLADE.PHP *************************/
.navbar {
    background: #b3a125;
    padding: 20px;
}

.navbar a {
    color: #fafafa;
    transition: ease-in-out all 0.1s;
}

.navbar a:hover {
    color: #ffde00;
}

/************************* HOME.BLADE.PHP *************************/

.main-logo {
    height: 200px;
}

.team-container a {
    margin: -35px 0 10px;
}

.pokemon-icon {
    height: 80px;
}

.remove-pokemon-btn {
    border-radius: 5px;
    margin-top: 5px;
    padding: 1px 10px;
}

.gen-list-container {
    padding: 30px 0;
}

/************************* POKEMON.BLADE.PHP *************************/
.poke-img {
    width: 100%;
}

.poke-name-container {
}

.poke-name {
}

.type-container {
    height: fit-content;
    margin-bottom: 10px;
    padding: 10px 0;
}

.poke-desc {
}

.evo-line-col {
    height: 100%;
}

/************************* FOOTER.BLADE.PHP *************************/
.footer {
    background: #3b4cca;
    bottom: 0;
    color: #fafafa;
    padding: 20px 0;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer p {
    margin: 0;
}

.footer a {
    color: #ffde00;
    transition: ease-in-out all 0.1s;
}

.footer a:hover {
    color: #b3a125;
}
